services:
  postgres:
    image: postgres:16
    container_name: teste_votacao
    environment:
      POSTGRES_DB: votacao_db
      POSTGRES_USER: teste_user
      POSTGRES_PASSWORD: teste_password
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: